@import 'resources/variables';
@import 'resources/heading';
@import 'resources/comment';

body {
	background-color: $background-primary!important;
}

.row {
	// bootstrap is dumb
	margin-right: 0px;
	margin-left: 0px;
}

hr {
	border-color: $border-primary;
}

#topbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

#logged-in-as:hover {
	color: $link-primary;	
}

#root {
	background: $background-primary;
}

#title {
	color: $text-primary;
}

#content {
	max-width: 1200px;
	margin: auto;
	background: $background-primary;
	color: $text-primary;
}

#reddit-login-button {
	background-color: $reddit-orange;
	color: white; 
	padding: 7px;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: -10px;
	display: inline-block;
}

a {
	color: $link-primary;
	&:hover {
		color: $link-primary-hover;
	}
}

.formatting-button {
	color: $text-primary;
	background-color: $background-secondary;
	border-color: $border-primary;
	border-style: solid;
	margin-right: 3px;

}
