body {
	background-color: #1d1f21!important;
}

a {
	color: #81a2be;
}

code {
	color: #cc6666;
	background: #1d1f21;
}

hr {
	border-color: Gray;
}

#root {
	background: #1d1f21;
}

#title {
	color: #c5c8c6;
}

#content {
	max-width: 1200px;
	margin: auto;
	background: #1d1f21;
	color: #c5c8c6;
}

/* parent link formatting */
.parent-link {
	visibility: hidden;
	color: LightGray;
	text-decoration: none;
}
.parent-link:hover {
	color: Gray;
	text-decoration: underline;
}
.comment:hover .parent-link {
	visibility: visible;
}

a.corner-link {
	color: Gray;
	text-decoration: none;
}
a.corner-link:hover {
	color: Gray;
	text-decoration: underline;
}

#latest {
	color: #969896;
	text-decoration: none;
}
#latest:hover {
	color: Gray;
	text-decoration: underline;
}
#about {
	color: #969896;
	text-decoration: none;
}
#about:hover {
	color: Gray;
	text-decoration: underline;
}

blockquote {
	font-size: 100%;
	border-left: 1px solid #969896;
	padding-left: 15px;
}

/* comment face formatting */
.face {
	max-width: 178px;
	height: auto;
	vertical-align: middle;
}
.comment-face {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	max-width: 178px;
	width: auto;
	height: auto;
	text-align: center;
}
.top {
    font-family: arial,sans-serif;
	font-size: 18px;
    color: white;
	position: absolute;
	display: block;
	top: 0px;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000, 0 1px #000, 0 -1px #000, 1px 0 #000, -1px 0 #000;
}
.bottom {
    font-family: arial,sans-serif;
	font-size: 18px;
    color: white;
	position: absolute;
	display: block;
	bottom: 0px;
	vertical-align: middle;
	text-align: center;
	padding-left: 4px;
	padding-right: 4px;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000, 0 1px #000, 0 -1px #000, 1px 0 #000, -1px 0 #000;
}

/* spoiler tag formatting */
.spoiler {
	background: black;
	color: #c5c8c6;
	padding: 1px 5px 1px 5px;
	border-radius: 3px;
}
.spoiler:hover {
	color: #c66;
}
.spoiler-inner {
	color: black!important;
	padding-left: 12px;
}
.spoiler:hover .spoiler-inner {
	color: #c5c8c6!important;
}

/* vertical whitespace control */
.arrow-link {
	margin-top: 0px;
	margin-bottom: 0px;
	transform: translateY(-.6em);
}
.comment-replies {
	margin-bottom: 0px;
}
.comment {
	background: #1d1f21;
	color: #c5c8c6;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	border-color: #969896;
}
.reply {
	border-right: 0px;
	border-bottom: 0px;
	border-top-right-radius: 0px!important;
	border-bottom-left-radius: 0px!important;
}
.time-ago {
	color: #969896;
	text-decoration: none;
}
.time-ago:hover {
	color: Gray;
	text-decoration: underline;
}
