@import 'resources/variables';
@import 'resources/heading';
@import 'resources/comment';

body {
	background-color: $background-primary!important;
}

hr {
	border-color: $border-primary;
}

#root {
	background: $background-primary;
}

#title {
	color: $text-primary;
}

#content {
	max-width: 1200px;
	margin: auto;
	background: $background-primary;
	color: $text-primary;
}

a {
	color: $link-primary;
	&:hover {
		color: $link-primary-hover;
	}
}
