#content {
	max-width: 1200px;
}
/*
small {
	a:link {
		color: LightGray;
		text-decoration: none;
	}
	a:visited {
		color: LightGray;
		text-decoration: none;
	}
	a:hover {
		color: LightGray;
		text-decoration: underline;
	}
	a:active {
		color: Gray;
		text-decoration: underline;
	}
}
*/
