#content {
	max-width: 1200px;
}

.parent-link {
	color: LightGray;
	text-decoration: none;
}
.parent-link:hover {
	color: Gray;
	text-decoration: underline;
}

#about {
	color: Gray;
	text-decoration: none;
}
#about:hover {
	color: Gray;
	text-decoration: underline;
}

#latest {
	color: LightGray;
	text-decoration: none;
}
#latest:hover {
	color: Gray;
	text-decoration: underline;
}

.md {
	text-align: justify;
}

blockquote {
	font-size: 100%;
}
