#content {
	max-width: 1200px;
}

.parent-link {
	color: LightGray;
	text-decoration: none;
}
.parent-link:hover {
	color: Gray;
	text-decoration: underline;
}

#about {
	color: Gray;
	text-decoration: none;
}
#about:hover {
	color: Gray;
	text-decoration: underline;
}

#latest {
	color: LightGray;
	text-decoration: none;
}
#latest:hover {
	color: Gray;
	text-decoration: underline;
}

.md {
	text-align: justify;
}

blockquote {
	font-size: 100%;
}

a[href="/s"],a[href*="/s?"]{
	color:#fff!important;
	background:#000;
	padding:1px 0 1px 3px;
	cursor:text;
	border-radius:2px;
	text-decoration: none;
}
a[href="/s"]:hover,a[href*="/s?"]:hover{
	color:#f44!important;
	text-decoration: none;
}
a[href="/s"]::after,a[href*="/s?"]::after{
	content:attr(title);
	background:inherit;
	color:#000;
	padding:0 10px;
	text-decoration: none;
}
a[href="/s"]:hover::after,a[href="/s"]:active::after,a[href*="/s?"]:hover::after,a[href*="/s?"]:active::after{
	color:#FFF;
	text-decoration: none;
}
a[href="/s"]:active,a[href*="/s?"]:active{
	pointer-events:none;
	text-decoration: none;
}
