.comment-face {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	.face-text {
		strong {
			font-weight: normal;
			position: absolute;
			margin: auto;
			width: 178px;
			left: 0;
			word-break: break-word;
			overflow-x: hidden;
			overflow-y: hidden;
			overflow-wrap: break-word;
			bottom: 0;
		}
	}

	.face {
		vertical-align: middle;
	}

	.face-no-hover {
		position: relative;
		top: 0;
		left: 0;
	}

	.face-hover {
		position: absolute;
		top: 0;
		left: 0;
	}

	&:hover {
		.face-no-hover {
			visibility: hidden;
		}
	}
}

.face-text {
	height: 100%;
	width: 178px;
	position: absolute;
	top: 0;
	word-break: break-word;
	overflow-x: hidden;
	overflow-y: hidden;
	overflow-wrap: break-word;
	color: white;
	font-size: 18px;
	font-family: arial, sans-serif;
	text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000, 0 1px #000, 0 -1px #000, 1px 0 #000, -1px 0 #000;
}
