@import 'spoiler';
@import 'comment-face';
@import 'markdown';

.form-button {
	background-color: $background-secondary;
	border: 0px;
	padding: 3px 6px 3px 6px;
	margin: 2px 4px 4px 0px;
}

.editor-box {
	background-color: $background-primary;
	color: $text-primary;
	padding: 4px;
	margin: 12px 0px 0px 0px;
	border-color: $link-secondary;
}

.preview {
	margin-top: 14px;
	border-radius: 4px;
	border-width: 1px;
}

.arrow-link {
	margin-top: 0px;
	margin-bottom: 0px;
}

.comment-replies {
	margin-bottom: 0px;
}

@keyframes fade-in {
	0% {
		transform: scaleY(0);
		opacity: 0;
	}
	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

#feed {
	padding-left: 0px;
}

.comment {
	background: $background-primary;

	border-top-width: 1px;
	border-left-width: 1px;
	border-color: $border-primary;
	border-style: solid;

	padding: 5px 0px 0px 0px;

	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
	color: $text-primary;

	transform-origin: top;
	animation: .3s ease-in-out both fade-in;

	display: grid;
	grid-template-columns: [padL] 15px [content] auto 15px [arrow] 10px [padR] 15px [right];
	grid-template-rows: [author] auto [body] auto [buttons] auto [replies] auto [bot];

	.author-row, .body-row, .comment-replies, .reddit-buttons-row {
		grid-column-start: content;
	}

	.author-row, .body-row, .reddit-buttons-row {
		grid-column-end: arrow;
		padding-right: 45px;
		margin-left: 5px;
	}

	.author-row {
		grid-row-start: author;

		h5 {
			font-size: x-small;
			font-weight: 500;
		}
	}

	.body-row {
		grid-row-start: body;
	}

	.comment-replies {
		padding-left: 0px;
		grid-column-end: right;
	}

	.reddit-buttons-row {
		grid-rows-start: buttons;
	}

	.arrow {
		font-size: 1.5em;
		grid-column-start: arrow;
		grid-row-start: author;
		grid-row-end: replies;
		align-self: center;
	}

	&.own-post {
		border-left-color: $reddit-orangered!important;
		border-left-style: dashed;
	}
}

.parent {
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-radius: 4px;
}

.reply {
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;

	&:first-child {
		border-top-left-radius: 4px;
	}
}

.reddit-button {
	margin-right: 2%;
	font-size: x-small;
	margin-bottom: 7px;
	display: inline-block;
}

.md {
	margin-bottom: 7px;
}

.upvoted {
	color: $reddit-upvote!important;
}
