@import 'spoiler';
@import 'comment-face';

.form-button {
	background-color: $background-secondary;
	border: 0px;
	padding: 3px 6px 3px 6px;
	margin: 2px 4px 4px 0px;
}

.editor-box {
	background-color: $background-primary;
	color: $text-primary;
	padding: 4px;
	margin: 12px 0px 0px 0px;
	border-color: $link-secondary;
}

.preview {
	margin-top: 14px;
}

.arrow-link {
	margin-top: 0px;
	margin-bottom: 0px;
	transform: translateY(-.6em);
}

.comment-replies {
	margin-bottom: 0px;
}

@keyframes fade-in {
	0% {
		transform: scaleY(0);
		opacity: 0;
	}
	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

.own-post {
	border-left-color: $reddit-orangered!important;
	border-left-style: dashed;
}

.comment {
	transform-origin: top;
	animation: .3s ease-in-out both fade-in;
	background: $background-primary;
	color: $text-primary;
	padding-bottom: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 15px;
	border-color: $border-primary;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;

	.author-row h5 {
		font-size: x-small;
	}

	.body-row a {
		color: $link-secondary;
		&:hover {
			color: $link-secondary;
		}
	}

	blockquote {
		font-size: 100%;
		border-left: 3px solid $border-primary;
		padding-left: 15px;
		margin-bottom: 5px;
		padding-left: 10px;
	}

	code {
		color: $text-emphasis;
	}

	table, th, td {
		border-collapse: collapse!important;
		border-style: solid!important;
		border: 1px;
		padding: 4px 9px 4px 9px;
		margin-bottom: 10px;
		border-color: $border-primary;
	}
}

.reply {
	border-right: 0px;
	border-bottom: 0px;
	border-top-right-radius: 0px!important;
	border-bottom-left-radius: 0px!important;
}

.reddit-button {
	margin-right: 2%;
	font-size: x-small;
	margin-bottom: 7px;
	display: inline-block;
}

.md {
	margin-bottom: 7px;
}

.upvoted {
	color: $reddit-upvote!important;
}
