@import 'spoiler';
@import 'comment-face';

.form-button {
	background-color: $background-secondary;
	border: 0px;
	padding: 3px 6px 3px 6px;
	margin: 2px 4px 4px 0px;
}

.editor-box {
	background-color: $background-primary;
	color: $text-primary;
	padding: 4px;
	margin: 12px 0px 0px 0px;
	border-color: $link-secondary;
}

.preview {
	margin-top: 14px;
}

.arrow-link {
	margin-top: 0px;
	margin-bottom: 0px;
}

.comment-replies {
	margin-bottom: 0px;
}

@keyframes fade-in {
	0% {
		transform: scaleY(0);
		opacity: 0;
	}
	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

.own-post {
	border-left-color: $reddit-orangered!important;
	border-left-style: dashed;
}

#feed {
	padding-left: 0px;
}

.comment {
	background: $background-primary;

	border-top-width: 1px;
	border-left-width: 1px;
	border-color: $border-primary;
	border-style: solid;

	padding: 5px 0px 0px 0px;

	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
	color: $text-primary;

	transform-origin: top;
	animation: .3s ease-in-out both fade-in;

	display: grid;
	grid-template-columns: [padL] 15px [content] auto 15px [arrow] 10px [padR] 15px [right];
	grid-template-rows: [author] auto [body] auto [replies] auto [bot];

	.author-row, .body-row, .comment-replies {
		grid-column-start: content;
	}

	.author-row, .body-row {
		grid-column-end: arrow;
	}

	.author-row {
		grid-row-start: author;

		h5 {
			font-size: x-small;
		}
	}

	.body-row {
		padding-right: 45px;

		grid-row-start: body;

		a {
			color: $link-secondary;
			&:hover {
				color: $link-secondary;
			}
		}
		
		blockquote {
			font-size: 100%;
			border-left: 3px solid $border-primary;
			padding-left: 15px;
			margin-bottom: 5px;
			padding-left: 10px;
		}

		code {
			color: $text-emphasis;
		}
	
		table, th, td {
			border-collapse: collapse!important;
			border-style: solid!important;
			border: 1px;
			padding: 4px 9px 4px 9px;
			margin-bottom: 10px;
			border-color: $border-primary;
		}

		sup {
			font-size: .86em;
			line-height: 0;
			vertical-align: super;
			top: unset;
		}
	}

	.comment-replies {
		padding-left: 0px;

		grid-column-end: right;
	}

	.arrow {
		grid-column-start: arrow;
		grid-row-start: author;
		grid-row-end: bot;
		align-self: center;
	}
}

.parent {
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-radius: 4px;
}

.reply {
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-top-right-radius: 0px!important;
	border-bottom-left-radius: 0px!important;
}

.reddit-button {
	margin-right: 2%;
	font-size: x-small;
	margin-bottom: 7px;
	display: inline-block;
}

.md {
	margin-bottom: 7px;
}

.upvoted {
	color: $reddit-upvote!important;
}
