#title {
	color: $text-primary
}

.heading {
	padding-left: 5px;
	padding-right: 5px;
}

.link-primary {
	color: $link-primary;
	text-decoration: none;

	&:hover {
		color: $link-primary-hover;
		text-decoration: underline;
	}
}
