$text-primary: #c5c8c6;
$link-primary: Gray;
$link-primary-hover: Gray;
$text-emphasis: #c66;
$border-primary: #969896;
$background-primary: #1d1f21;
$background-secondary: #373b41;
$link-secondary: #81a2be;
$reddit-orange: #ff5700;
$reddit-orangered: #ff4500;
$reddit-upvote: #ff8b60;
$reddit-downvoate: #9494ff
