#title {
	color: $text-primary
}

#logged-in-as {
	text-align: right;
}

#title, #latest {
	text-align: center;
}

.link-primary, .nav-link {
	color: $link-primary;
	text-decoration: none;

	&:hover {
		color: $link-primary-hover;
		text-decoration: underline;
	}
}

.nav-link {
	display: inline-block;
	text-align: right;

	&:after {
		content: '|';
	}
	&:last-child:after {
		content: '';
	}
}

.nav-links {
	text-align: right;
}

.heading {
	max-width: 1200px;
	margin: auto;
}

#topbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

#logged-in-as {
	color: $link-primary;
}

#reddit-login-button {
	background-color: $reddit-orange;
	color: white; 
	padding: 7px;
	border-radius: 5px;
	margin: 0px;
	display: inline-block;
}
