#title {
	color: $text-primary
}

#about, #logged-in-as {
	text-align: right;
}

#title, #latest {
	text-align: center;
}

.link-primary {
	color: $link-primary;
	text-decoration: none;

	&:hover {
		color: $link-primary-hover;
		text-decoration: underline;
	}
}
