#title {
	color: $text-primary
}

#about, #logged-in-as {
	text-align: right;
}

#title, #latest {
	text-align: center;
}

.link-primary {
	color: $link-primary;
	text-decoration: none;

	&:hover {
		color: $link-primary-hover;
		text-decoration: underline;
	}
}

.corner-link {
	text-align: right;
}

#topbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

#logged-in-as {
	color: $link-primary;
}

#reddit-login-button {
	background-color: $reddit-orange;
	color: white; 
	padding: 7px;
	border-radius: 5px;
	margin: 0px;
	display: inline-block;
}
