@import './variables';
@import './heading';
@import './comment';
@import './editor';

* {
	font-family: inherit;
	line-height: inherit;
	color: inherit;
}

body {
	background-color: $background-primary;
	line-height: 1.4285714285714286em;
	font: normal 14px verdana,arial,helvetica,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}

hr {
	border-color: $border-primary;
}

#topbar {
	margin-top: 10px;
	margin-bottom: 10px;
}

#logged-in-as {
	color: $link-primary;
}

#root {
	background: $background-primary;
}

#title {
	color: $text-primary;
	font-size: 30px;
	line-height: 1.1;
}

#title, #latest, .corner-link, #logged-in-as {
	font-weight: 500;
}

.corner-link {
	text-align: right;
}

#content {
	max-width: 1200px;
	margin: auto;
	background: $background-primary;
	color: $text-primary;
}

#reddit-login-button {
	background-color: $reddit-orange;
	color: white; 
	padding: 7px;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: -10px;
	display: inline-block;
}

a {
	color: $link-primary;
	text-decoration: none;
	&:hover {
		color: $link-primary-hover;
		text-decoration: underline;
	}
}
